ul {
    list-style-type: none;
}

.crud-list {
    margin-left: 10%;
    font-weight: bold;
    font-size: 1.3rem;
}

.crud-icones {
    margin-right: 5px;
    width: 30px;
}

.celular {
    max-width: 350px;
    max-height: 500px;
}

button{
    font-size: 1.1rem;
    font-weight: 500;
}

@media only screen and (min-width:200px) and (max-width:567px){
    
    button{
        width: 90vw;
    }

}