<div class="container-fluid bg-preto pb-5 pb-sm-4 pb-md-3" >
  <div class="row">
    <main class="d-flex flex-wrap">
      <!--Coluna Esquerda (textos)-->
      <section></section>
      <div class="ps-lg-5 ps-md-3 col-12 col-sm-12 col-md-6 col-lg-6 me-auto text-branco">
        <h3 class="text-center mt-5">A forma mais simples de guardar as suas <br><span class="text-amarelo">Tarefas
            Diárias</span>.</h3>
        <h4 class="col-md-8 col-sm-9 col-lg-8 col-9  m-auto mt-5">
          Do celular ou do computador, tenha acesso às suas tarefas e notas de maneira simples e objetiva.
        </h4>
        <ul class="list-group col-md-8 col-10 m-auto mt-5">
          <li class="crud-list text-cinza mb-3">
            <img class="crud-icones" src="../../assets/img/icones/list.png" alt="">
            Liste suas tarefas
          </li>
          <li class="crud-list text-cinza mb-3">
            <img class="crud-icones" src="../../assets/img/icones/editing.png" alt="">
            Edite tarefas cadastradas
          </li>
          <li class="crud-list text-cinza mb-3">
            <img class="crud-icones" src="../../assets/img/icones/check.png" alt="">
            Adicione ou Apague tarefas
          </li>
          <li class="crud-list text-cinza mb-3">
            <img class="crud-icones" src="../../assets/img/icones/search.png" alt="">
            Encontre suas tarefas pelo título
          </li>
        </ul>

        <h3 class="text-center mt-3">Cadastre-se grátis e comece a usar!</h3>
        <button class="btn btn-primary d-block m-auto mt-3" button type="button" data-bs-toggle="modal"
          data-bs-target="#cadastrarModal">Cadastre-se!</button>
      </div>

      <!--Coluna Direita (Video)-->
      <div class="col-12 col-md-6 col-lg-6 d-lg-flex d-md-flex d-sm-flex d-none mt-4 mb-2 m-auto" style="
    height: 82vh">
        <div class="m-auto">
          <img class="celular" src="../../assets/img/icones/smartphone_frame.png" alt="">
        </div>
      </div>
    </main>
  </div>
</div>
