<section class="bg-preto text-cinza" >
        <div class="content">
            <div class="text-cinza left">
                <h2>Sobre o <span class="text-amarelo">DailyTasks</span></h2>
                <p class="descricao">Este é um projeto desenvolvido por <i>Bruno Luna</i> e <i>Isaías Rodrigues</i> com a finalidade de estudar e obter experiência no desenvolvimento fullstack. Ele é totalmente funcional e esperamos que você goste!
                Fique à vontade para deixar o seu feedback, seguir a gente nas redes socias ou entrar em contato.</p>
                <a class="text-amarelo" href="https://github.com/isaiaszanoni/DailyTasks" target="blank"> * Link do projeto no Github </a>
            </div>
            <div class="text-cinza right">
                <h2>Deixe o seu Feedback</h2>
                <input type="text" name="nome" id="nome" class="border-cinza" placeholder="Nome:" />
                <input type="email" class="border-cinza" placeholder="Email:"/>
                <textarea name="mensagem" id="mensagem" cols="0" rows="4" placeholder="Sua mensagem:" class="border-cinza"></textarea>
                <button class="btn btn-primary">ENVIAR</button>
            </div>
        </div>
        <div class="dev">
            <div class="cards">
               <img src="https://avatars.githubusercontent.com/u/80595156?v=4" alt="Developer Bruno Luna" style="width: 10rem; height: 10rem; border-radius:50%">
               <p>Bruno Luna</p>
                <p>Dev. Java FullStack</p>
                <P>Apaixonado por aprender! 🚀</P>
                <hr>
                <div class="icones">
                    <a href="https://www.linkedin.com/in/lunabr/" target="blank">
                        <img src="../../assets/img/icones/logotipo-do-linkedin.png" alt="" style="width: 95%;">
                    </a>
                    <a href="mailto: luna.brsilva@gmail.com">
                        <img src="../../assets/img/icones/carta.png" alt="" style="width: 95%;">
                    </a>
                    <a href="https://github.com/Bruno-Luna" target="blank">
                        <img src="../../assets/img/icones/logotipo-do-github.png" alt="" style="width: 95%;">
                    </a>
                </div>
            </div>
            <div class="cards">
                <img src="https://avatars.githubusercontent.com/u/49243663?v=4" alt="Developer Isaías Rodrigues" style="width: 10rem; height: 10rem; border-radius: 50%">
                <p>Isaías Rodrigues</p>
                <p>Dev. Java FullStack</p>
                <P>Apaixonado por aprender! 🚀</P>
                <hr>
                <div class="icones">
                    <a href="https://www.linkedin.com/in/isaiasz/" target="blank">
                        <img src="../../assets/img/icones/logotipo-do-linkedin.png" alt="" style="width: 95%;">
                    </a>
                    <a href="mailto: isaiasz.mus@gmail.com">
                        <img src="../../assets/img/icones/carta.png" alt="" style="width: 95%;">
                    </a>
                    <a href="https://github.com/isaiaszanoni" target="blank">
                        <img src="../../assets/img/icones/logotipo-do-github.png" alt="" style="width: 95%;">
                    </a>
                </div>
            </div>
        </div>
</section>