<div class="modal-body d-flex justify-content-center align-items-center bg-preto">
    <div class="col-10 col-sm-10 col-md-8 col-lg-6">
      <div class="mb-4">
        <div class="form-group d-flex flex-column">



        </div>
        <div class="buttons">
            
        </div>
    </div>
</div>
  </div>



  <div class="container-fluid bg-preto" style="min-height: 90vh">
    <div class="row">

        <h2 class="text-branco text-md-center text-lg-center mb-3 myTasks">Editar Cadastro</h2>

        <main class="d-flex flex-wrap-reverse">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center flex-wrap">
                <div class="card bg-dark text-branco col-12 col-sm-12 col-md-8 col-lg-8 col-xl-7">
                    <div class="card-header">
                        <h5 class="card-title">Seus dados:</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group d-flex flex-column">

                            <label for="tarefa" class="mt-2 me-3">Nome:</label>
                            <input [(ngModel)]='user.nome' type="text" placeholder="*Nome: " class="w-75 m-auto rounded input-modal mb-3">


                            <label for="descricao">Email:</label>
                            <input [(ngModel)]='user.email' type="email" placeholder="*Email: " class="w-75 m-auto rounded input-modal mb-3">
                       
                            <label for="senha">Senha:</label>
                            <input [(ngModel)]='user.senha' type="password" placeholder="*Confirme sua senha: " class="w-75 m-auto rounded input-modal mb-1">

                            <label for="senha">Confirmar senha:</label>
                            <input (input)='confirmSenha($event)' type="password" placeholder="*Senha: " class="w-75 m-auto rounded input-modal mb-3">

                        </div>
                    </div>
                    <div class="buttons">
                        <button type="button" class="btn btn-success mt-3" data-bs-dismiss="modal">Cancelar</button>
                        <button (click)='atualizar()' type="button" class="btn btn-primary ms-3 mt-3">Atualizar</button>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
