<div class="container-fluid bg-preto" style="min-height: 90vh">
    <div class="row">
        <section class="d-flex justify-content-around align-items-center">
            <h2 class="text-branco my-3">Minhas tarefas</h2>
            <button class="btn btn-primary btn-sm nova-task" data-bs-toggle="modal" data-bs-target="#add-taskModal" style="height: 3rem; width: 14rem;">Nova Tarefa</button>
        </section>

        <main class="col-12 d-flex justify-content-center flex-wrap-reverse w-100">

            <!-- Tasks part -->
            <section class="d-flex flex-wrap col-12 col-sm-12 col-md-9 col-lg-9 justify-content-center justify-content-sm-center justify-content-md-start justify-content-lg-start" >

                <div class="w-100 m-3 rounded-3 bg-task-{{ item.cor }}"
                    *ngFor="let item of user.myTasks">

                    <div class="d-flex justify-content-between col-12 mt-2">
                        <h6 class="task-title fs-3 ps-4 mb-0 pb-0">{{ item.tarefa }}</h6>
                    </div>

                    <div class="">
                        <p class="px-4 fs-6">
                            <span>{{ item.descricao }}</span>
                        </p>
                    </div>


                    <div class="dropstart p-0 me-3">
                        <button class="btn btn-dots task-dropdown text-dark p-0" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false">...</button>

                        <ul class="dropdown-menu bg-preto" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item bg-preto text-cinza hover-amarelo"
                                    [routerLink]="['/task-edit', item.id_tarefa]">Editar Task</a>
                            </li>
                            <li><a class="dropdown-item bg-preto text-cinza hover-amarelo"
                                    [routerLink]="['/task-delete', item.id_tarefa]">Excluir Task</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </section>

        </main>

    </div> <!-- /row -->
</div> <!-- /container -->

<div class="modal fade" id="add-taskModal" tabindex="-1" aria-labelledby="add-taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-branco">
            <div class="modal-header">
                <h5 class="modal-title" id="add-taskModalLabel">Nova Tarefa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group d-flex flex-column">

                    <label for="" class="mt-3 me-3">Tarefa:</label>
                    <input [(ngModel)]='tarefa.tarefa' type="text" class="input-modal mt-2 mb-4">


                    <label>Descrição:</label>
                    <textarea [(ngModel)]='tarefa.descricao' type="text" class="me-3 input-modal mt-2"></textarea>

                    <div>
                        <h6 class="card-subtitle my-3">Cor da Tarefa:</h6>
                        <div name="cor" id="cor">
                            <ul class="d-flex flex-nowrap justify-content-evenly">
                                <li class="d-flex flex-nowrap align-items-center">
                                    <input [(ngModel)]="tarefa.cor" type="radio" name="cor" value="cinza"
                                        class="d-inline">
                                    <div class="rounded-1 task-color bg-task-cinza"></div>
                                </li>
                                <li class="d-flex flex-nowrap align-items-center">
                                    <input [(ngModel)]="tarefa.cor" type="radio" name="cor" value="amarelo">
                                    <div class="rounded-1 task-color bg-task-amarelo"></div>
                                </li>
                                <li class="d-flex flex-nowrap align-items-center">
                                    <input [(ngModel)]="tarefa.cor" type="radio" name="cor" value="verde">
                                    <div class="rounded-1 task-color bg-task-verde"></div>
                                </li>
                                <li class="d-flex flex-nowrap align-items-center">
                                    <input [(ngModel)]="tarefa.cor" type="radio" name="cor" value="azul">
                                    <div class="rounded-1 task-color bg-task-azul"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-decoration-none"
                    data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" *ngIf='tarefa.cor == null'
                    disabled>Salvar</button>

                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)='publicar()'
                    *ngIf='tarefa.cor != null'>Salvar</button>
            </div>
        </div>
    </div>
</div>