<div class="container-fluid bg-preto" style="min-height: 500px">
    <div class="row">

        <h2 class="text-branco text-md-center text-lg-center mb-3">Minhas Tasks</h2>

        <main class="d-flex flex-wrap-reverse">

            <div class="col-12 col-sm-12 col-md-9 col-lg-9 d-flex justify-content-center flex-wrap">

                <div class="card col-11 col-md-9 col-lg-9 d-flex bg-card m-4">
                    <div class="card-header bg-card no-border">
                        <h4 class="card-title">Lavar a Louça</h4>
                        <h6 class="card-subtitle me-3 text-muted d-inline">14/11/2021</h6>
                        <h6 class="card-subtitle text-muted d-inline">14:47</h6>
                    </div>
                    <div class="card-body p-0 bg-card">
                        <div class="card-text ps-3">
                            <p>

                            </p>
                        </div>
                    </div>
                    <div class="text-sm no-border">
                        <ul class="list-group-horizontal d-flex justify-content-around p-0 mb-1">
                            <li class="list-inline-item"><img class="task-icon" src="../../assets/img/icones/ver.png"
                                    alt=""> Ver</li>
                            <li class="list-inline-item"><img class="task-icon"
                                    src="../../assets/img/icones/editing-preto.png" alt="">Editar</li>
                            <li class="list-inline-item"><img class="task-icon" src="../../assets/img/icones/trash.png"
                                    alt="">Excluir</li>
                        </ul>
                    </div>
                </div>

                <div class="card col-11 col-md-9 col-lg-9 d-flex bg-card m-4">
                    <div class="card-header bg-card no-border">
                        <h4 class="card-title">Estudar Angular</h4>
                        <h6 class="card-subtitle me-3 text-muted d-inline">14/11/2021</h6>
                        <h6 class="card-subtitle text-muted d-inline">14:47</h6>
                    </div>
                    <div class="card-body p-0 bg-card">
                        <div class="card-text ps-3">
                            <p>
                                Curso da Loiane
                            </p>
                        </div>
                    </div>
                    <div class="text-sm no-border">
                        <ul class="list-group-horizontal d-flex justify-content-around p-0 mb-1">
                            <li class="list-inline-item"><img class="task-icon" src="../../assets/img/icones/ver.png"
                                    alt=""> Ver</li>
                            <li class="list-inline-item"><img class="task-icon"
                                    src="../../assets/img/icones/editing-preto.png" alt="">Editar</li>
                            <li class="list-inline-item"><img class="task-icon" src="../../assets/img/icones/trash.png"
                                    alt="">Excluir</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 text-branco">
                <div class="d-flex flex-column m-auto">
                    <h3 class=" d-none d-sm-none d-md-block d-lg-block">Nova task</h3>

                    <button class="btn btn-primary mt-3 mb-3 mb-md-5 mb-lg-5 nova-task" data-bs-toggle="modal"
                        data-bs-target="#add-taskModal">Nova task</button>

                    <h6>Pesquisar por Titulo:</h6>
                    <input type="text" placeholder="Digite o titulo da task" class="input-modal pesquisar">
                </div>
            </div>
        </main>

    </div>
</div>

<div class="modal fade" id="add-taskModal" tabindex="-1" aria-labelledby="add-taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-branco">
            <div class="modal-header">
                <h5 class="modal-title" id="add-taskModalLabel">Nova Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-group d-flex flex-column">

                    <label for="" class="mt-3 me-3">Titulo</label>
                    <input type="text" class="input-modal mt-2 mb-4">


                    <label>Tarefa</label>
                    <textarea type="text" class="me-3 input-modal mt-2"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-link text-decoration-none"
                    data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Salvar Task</button>
            </div>
        </div>
    </div>
</div>