<nav class="navbar navbar-expand-lg navbar-light bg-preto">
    <div class="container-fluid">
        <h1>
            <a class="navbar-brand nav text-amarelo ms-5" href="#">DailyTasks</a>
        </h1>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 ms-auto mb-lg-0">

          <li class="nav-item">
            <a class="nav-link text-cinza me-5 hover-amarelo" aria-current="page" routerLink='/home'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-cinza me-5 hover-amarelo" routerLink='/sobre'>Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-cinza me-5 hover-amarelo" data-bs-toggle="modal" data-bs-target="#cadastrarModal">Cadastre-se</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-cinza btn me-5 hover-amarelo border-cinza login" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>