@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

nav , .login {
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 1.6rem;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-nav .nav-link, li > a {
    cursor: pointer;
    text-decoration: none;
}

a.hover-amarelo:hover{
    color: #FCFF6F !important;
    
}

.login:hover {
    background-color: #50505070;
    border-color: #FCFF6F !important; 
}

button{
    font-weight: 500;
    font-size: 1.1rem;
}

p > a{
    text-decoration: none;
}

.user {
    cursor: default!important;
}

h1, .user{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* O texto não ficará selecionável */
}

.navbar-toggler{
    border: 1px solid #FCFF6F;
}

