<div class="container-fluid bg-preto" style="min-height: 90vh">
    <div class="row">

        <h2 class="text-branco text-md-center text-lg-center mb-3 myTasks">Editar Tarefa</h2>

        <main class="d-flex flex-wrap-reverse">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center flex-wrap">
                <div class="card bg-dark text-branco col-12 col-sm-12 col-md-8 col-lg-8 col-xl-7">
                    <div class="card-header">
                        <h5 class="card-title">Edite sua tarefa</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group d-flex flex-column">

                            <label for="tarefa" class="mt-2 me-3">Tarefa:</label>
                            <input [(ngModel)]='task.tarefa' type="text" class="w-75  rounded input-modal mb-3">


                            <label for="descricao">Descrição:</label>
                            <textarea [(ngModel)]='task.descricao' type="text" class="w-75 rounded input-modal mb-3"></textarea>
                        </div>
                    </div>

                    <div>
                        <h6 class="card-title ms-3 my-3">Cor da Tarefa:</h6>
                        <div name="cor" id="cor">
                            <ul class="d-flex flex-nowrap justify-content-evenly">
                                <li class="d-flex flex-nowrap align-items-center">
                                    <input [(ngModel)]="task.cor" type="radio" name="cor" value="cinza" class="d-inline">
                                    <div class="rounded-1 task-color bg-task-cinza"></div>
                                </li>
                                <li class="d-flex flex-nowrap align-items-center">
                                    <input [(ngModel)]="task.cor" type="radio" name="cor" value="amarelo" >
                                    <div class="rounded-1 task-color bg-task-amarelo"></div>
                                </li>
                                <li class="d-flex flex-nowrap align-items-center">
                                    <input [(ngModel)]="task.cor" type="radio" name="cor" value="verde" >
                                    <div class="rounded-1 task-color bg-task-verde"></div>
                                </li>
                                <li class="d-flex flex-nowrap align-items-center">
                                    <input [(ngModel)]="task.cor" type="radio" name="cor" value="azul" >
                                    <div class="rounded-1 task-color bg-task-azul"></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn btn-link text-decoration-none" data-bs-dismiss="modal"
                            routerLink='/tasks'>Cancelar</button>
                        <button type="button" class="btn btn-primary" *ngIf='task.cor == null' alt="Escolha uma cor" disabled>Salvar</button>
                        <button type="button" class="btn btn-primary" *ngIf='task.cor != null' data-bs-dismiss="modal"
                            (click)='atualizar()'>Salvar</button>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>