<div class="container-fluid bg-preto" style="min-height: 90vh">
    <div class="row">

        <h2 class="text-branco text-md-center text-lg-center mb-3 myTasks">Excluir Tarefa</h2>

        <main class="d-flex flex-wrap-reverse">


            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center flex-wrap">


                <div class="card col-11 col-md-9 col-lg-9 d-flex bg-card m-4">
                    <div class="card-header bg-card no-border">
                        <h4 class="card-title"></h4>
                        <span></span>
                    </div>
                    <div class="card-body p-0 bg-card">
                        <div class="card-text ps-3">
                            <p>

                            </p>
                        </div>
                    </div>
                    <div class="card-bottom d-flex justify-content-evenly no-border">
                        <button class="btn btn-link">Cancelar</button>
                        <button class="btn btn-danger">Excluir task</button>
                    </div>
                </div>

            </div>

        </main>

    </div>
</div>