<div class="container-fluid bg-preto" style="min-height: 90vh">
    <div class="row">

        <h2 class="text-branco text-md-center text-lg-center mb-3 myTasks">Apagar Tarefa</h2>

        <main class="d-flex flex-wrap-reverse">

            <div class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center flex-wrap">
                <div class="card bg-dark text-branco col-12 col-sm-12 col-md-8 col-lg-8 col-xl-7">
                    <div class="card-header bg-dark">
                        <h5 class="card-title">Tem certeza que deseja excluir a tarefa?</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group d-flex flex-column">

                            <input [(ngModel)]='task.tarefa' type="text" class="w-100 rounded input-modal mb-3" readonly>

                            <textarea [(ngModel)]='task.descricao' type="text" class="w-100 rounded input-modal mb-3" readonly></textarea>
                        </div>
                    </div>
                    <div class="card-footer bg-dark">
                        <button type="button" class="btn btn-link text-decoration-none" data-bs-dismiss="modal"
                            routerLink='/tasks'>Cancelar</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)='apagar()'>Apagar</button>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>