<section class="bg-preto text-cinza">
    <div class="content">
        <div class="text-cinza left">
            <h2 class="text-branco">Sobre o <span class="text-amarelo">DailyTasks</span></h2>
            <p class="descricao">Projeto desenvolvido por <i>Bruno Luna</i> e <i>Isaías Rodrigues</i> com o
                objetivo de praticar e obter experiência no desenvolvimento de um produto fullstack, do zero. 
                Ele é totalmente funcional e esperamos que você goste!
            </p>
            <p class="descricao">
                Fique à vontade para deixar o seu feedback, seguir a gente nas redes socias ou entrar em contato.
            </p>
            <p>
            <a class="text-amarelo" href="https://github.com/isaiaszanoni/DailyTasks" target="blank"> 📚 Link do projeto
                no Github </a>
            </p>
        </div>
        <div class="text-cinza right">
            <h2 class="text-branco">Escreva o seu feedback</h2>
            <input type="text" name="nome" id="nome" class="border-cinza input-modal" placeholder="Nome:" />
            <input type="email" class="border-cinza input-modal" placeholder="Email:" />
            <textarea name="mensagem" id="mensagem" cols="2" rows="4" placeholder="Sua mensagem:"
                class="border-cinza"></textarea>
            <button class="btn btn-primary">ENVIAR</button>
        </div>
    </div>
    <div class="dev">
        <div class="cards">
            <img src="https://avatars.githubusercontent.com/u/80595156?v=4" alt="Developer Bruno Luna"
                style="width: 10rem; height: 10rem; border-radius:50%">
            <p>Bruno Luna</p>
            <p>Desenvolvedor web Java</p>
            <P>Ávido por aprender! </P>
            <hr>
            <div class="icones">
                <a href="https://www.linkedin.com/in/lunabr/" target="blank">
                    <img src="../../assets/img/icones/logotipo-do-linkedin.png" alt="Logo linkedin" style="width: 95%;">
                </a>
                <a href="mailto: luna.brsilva@gmail.com">
                    <img src="../../assets/img/icones/carta.png" alt="Logo email" style="width: 95%; height: 105%;">
                </a>
                <a href="https://github.com/Bruno-Luna" target="blank">
                    <img src="../../assets/img/icones/logotipo-do-github.png" alt="Logo Github" style="width: 95%;">
                </a>
            </div>
        </div>
        <div class="cards">
            <img src="https://avatars.githubusercontent.com/u/49243663?v=4" alt="Developer Isaías Rodrigues"
                style="width: 10rem; height: 10rem; border-radius: 50%">
            <p>Isaías Rodrigues</p>
            <p>Desenvolvedor Web</p>
            <P>Em rumo ao fullstack 🚀</P>
            <hr>
            <div class="icones">
                <a href="https://www.linkedin.com/in/isaiasz/" target="blank">
                    <img src="../../assets/img/icones/logotipo-do-linkedin.png" alt="Logo linkedin" style="width: 95%;">
                </a>
                <a href="mailto: isaiasz.mus@gmail.com">
                    <img src="../../assets/img/icones/carta.png" alt="Logo email" style="width: 95%; height: 105%;">
                </a>
                <a href="https://github.com/isaiaszanoni" target="blank">
                    <img src="../../assets/img/icones/logotipo-do-github.png" alt="Logo Github" style="width: 95%;">
                </a>
            </div>
        </div>
    </div>
</section>